@import '../../styles//variables.scss';

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 5em;
}

.footer .innerCol {
  width: 66.6667%;
  display: flex;
  justify-content: space-between;
  margin-top: 6em;
  padding-bottom: 12em;
}

.footer nav {
  display: flex;
}
