@import './styles/variables.scss';

body {
  font-size: 16px;
  font-family: "Inter","Inter UI",-apple-system,BlinkMacSystemFont,'San Francisco','Helvetica Neue',Arial,sans-serif;
  margin: 0;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3);
}

.container {
  min-height: 100vh;
  min-width: 100vw;

  form {
    background-color: $form-background;
    min-height: 18rem;
    width: 30rem;
    border-radius: 1rem;
    margin-top: 3rem;
    @media screen and (max-width: 767px) {
      margin-top: 1rem;
      width: 26rem;
    }

    .form-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;

      .back {
        width: 2rem;
        cursor: pointer;
        padding: 0.5rem;
      }
  
      .title {
        font-weight: bold;
      }
  
      .close {
        border: none;
        width: 2rem;
        cursor: pointer;
        text-align: right;
      }
    }

    input {
      font-family: "Inter","Inter UI",-apple-system,BlinkMacSystemFont,'San Francisco','Helvetica Neue',Arial,sans-serif;
    }

    .denomination {
      display: flex;
      flex-direction: column;
  
      .label {
        font-size: 1rem;
        font-weight: bold;
        margin: 1rem 0rem 0.75rem;
      }
  
      .value {
        font-size: 2.5rem;
        font-weight: bold;
        width: 6.5rem;

        &.star {
          color: $star-green;
        }

        &.dust {
          color: $dust-blue;
        }
      }
    }
  }

  .amount {
    width: 14.1rem;
    padding: 0rem 0.75rem;
    font-size: 2.5rem;
    font-weight: bold;
    background-color: white;
    border-radius: 0.75rem;
    color: $form-grey-text;
    border: 2px solid $form-dark-background;
    line-height: 1.333333;

    &.dust {
      color: $dust-blue;
    }

    &.star {
      color: $star-green;
    }
  }
}

.form-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swap-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .toggle-exchange {
    padding: 0.5rem;
    transform: rotate(90deg);
    position: absolute;
    border: 2px solid $form-dark-background;
    background-color: $form-background;
    border-radius: 2rem;
    cursor: pointer;

    &:hover {
      background-color: $form-dark-background;
    }
  }

  .half {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem;
    width: calc(100% - 3rem);
    border-radius: 1rem;
    min-height: 9rem;

    &.deposit {
      padding-bottom: 2rem;
    }

    &.receive {
      background-color: $form-dark-background;
      padding-top: 2rem;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

.assets {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;

  @media screen and (max-width: 767px) {
    margin-left: 1rem;
  }

  .exchange-rate {
    margin: 1rem 0rem;
    color: rgba(0,0,0,0.6);
  }
}

.receive-display {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;

  @media screen and (max-width: 767px) {
    margin-left: 1rem;
  }

  .exchange-rate {
    margin: 1rem 0rem;
    color: rgba(0,0,0,0.6);
  }

  .tx-cost {
    margin-top: 1rem;
  }
}

button.trade-button {
  margin-top: 0.5rem;
  width: 30rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  height: 4rem;
  border: none;

  @media screen and (max-width: 767px) {
    width: 26rem;
  }

  &.star {
    background-color: $star-green;
    color: white;
  }

  &.dust {
    background-color: $dust-blue;
    color: white;
  }

  &.disabled {
    background-color: $form-dark-background;
    color: black;
  }

  &.connect {
    background-color: $yellow;
    color: black;
  }

  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }
}

.star-selector {
  cursor: pointer;
  position: relative;

  .star-list {
    position: absolute;
    background-color: white;
    padding: 0.875rem;
    z-index: 1;
    margin-top: 0.25rem;
    border-radius: 0.5rem;
    border: 1px solid $form-dark-background;
    right: 0;
  }
}

.selected-stars {
  width: 15rem;
  padding: 0.5rem 0.75rem;
  background-color: white;
  border-radius: 0.75rem;
  color: $form-grey-text;
  border: 2px solid $form-dark-background;
  line-height: 1.333333;
  min-height: 37px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.star-entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 0.125rem;

  .sigil-name {
    display: flex;
    flex-direction: row;
    align-items: center;

    svg {
      margin-right: 0.25rem;
      border-radius: 0.2rem;
    }
  }

  .label {
    margin-left: 2rem;
    white-space: nowrap;
  }

  &.selected {
    color: $star-green;
  }

  &.disabled {
    color: $form-grey-text;

    &:hover {
      color: $form-grey-text;
      cursor: auto;

      .sigil-name svg rect {
        fill: $form-grey-text;
      }
    }
  }

  &:hover {
    color: $star-green;

    .sigil-name {
      svg {
        rect {
          fill: $star-green;
        }
      }
    }
  }
}

form.wallet-form {
  padding: 1rem;
  background-color: white;

  .metamask-warning {
    margin-bottom: 2rem;
    padding: 0rem 0.5rem;
  }
}

.wallet-entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $form-background;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  border: 1px solid $form-dark-background;
  height: 2.5rem;

  &.selected {
    background-color: $form-dark-background;

    &:hover {
      cursor: auto;
    }
  }

  &:hover {
    cursor: pointer;
    background-color: $form-dark-background;
  }

  .checkmark {
    height: 1.5rem;
    width: 1.5rem;
  }

  .name {
    font-weight: bold;
  }

  img {
    width: 2rem;
  }
}

form.master-ticket-form {
  padding: 1rem;
  background-color: $form-background;
  display: flex;
  flex-direction: column;

  button.close {
    background-color: $form-background;
  }

  label {
    margin: 0.75rem 0rem 0.25rem 0.125rem;
    font-weight: 600;
  }

  input {
    font-size: 16px;
    border-radius: 0.25rem;
    padding: 0.5rem;
    background-color: white;
    border: 1px solid $form-dark-background
  }

  .checkbox {
    margin: 0.8rem 0.5rem 0rem 0.5rem;
  }

  button.submit {
    color: black;
    background-color: rgba(0,0,0,0.2);
    border: none;
    cursor: pointer;
    margin: 1rem 0rem 0.5rem;
    padding: 1.25rem;

    &:hover {
      background-color: rgba(0,0,0,0.4);
      color: white;
    }

    &.disabled:hover {
      color: black;
      background-color: rgba(0,0,0,0.2);
    }
  }
}

form.confirmation-form {
  padding: 2rem;

  &.star {
    background-color: $washed-green;
  }
  
  &.dust {
    background-color: $washed-blue;
  }

  .star-container {
    margin: 0.75rem 0rem;
  }

  .info-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;

    .left {
      font-weight: bold;
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;

    button {
      width: 14rem;
      color: white;
      border: none;
      cursor: pointer;

      &:hover {
        opacity: 0.9;
      }

      &.cancel {
        background-color: $form-grey-text;
      }

      &.confirm {
        &.star {
          background-color: $star-green;
        }

        &.dust {
          background-color: $dust-blue;
        }
      }
    }
  }
}

.layout-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
